<h1> Hi <%= @lead.name %>, </h1> 
<p>
  For your convenience, we have created you an account on Haryali so you can check the status of your order and check future updates about your tree quicker.
</p>

<p>
  To login you need follow the link below to nominate your password: 
  <br>
    <%= @url + "/users/sign_in" %>
  </br> 
</p>
<p>
  If you have any questions regarding you account and other stuff, click ‘Reply’ in your email and we’ll be more than happy to help.  
</p>
<p>
  Thanks once again for being part of Harli movement,
</p>
<p>
  Lets make Harabhara Pakistan together! 
</p>
<p>
  Team Haryali
  <br>
    <%= @url %>
  </br>
</p>
