<h1>Dear Accountant</h1>
<p>
  We have received a request for <strong><%= @lead.quantity %> <%= @lead.plant.name %></strong> at <strong><%= @lead.location.address %></strong> by <strong><%= @lead.name %></strong>.<br/>
</p>
<p>
  Please contact with Customer for payment.<br/>
</p>
