<h1> Hi <%= @lead.name %>, </h1> 
<p>
  Thank you for taking interest in <i> Haryali</i>,
</p>
<p>
  We have received your request. You’ll be contacted soon for confirmation by our team at your given phone number <%= @lead.contact %>. If the number is not correct reply this email with correct number. 
</p>
<p>
  Thanks once again, 
</p>
<p>
  Team Haryali
  <br>
    <%= @url %>
  </br>
</p>
