development:
  GMAIL_USERNAME: gmail_email
  GMAIL_PASSWORD: gmail_password
  DOMAIN_NAME: domain_name
  SECRET_KEY_BASE: secret_key_base

test:
  GMAIL_USERNAME: gmail_email
  GMAIL_PASSWORD: gmail_password
  DOMAIN_NAME: domain_name
  SECRET_KEY_BASE: secret_key_base

production:
  GMAIL_USERNAME: gmail_email
  GMAIL_PASSWORD: gmail_password
  DOMAIN_NAME: domain_name
  SECRET_KEY_BASE: secret_key_base
  RAILS_SERVE_STATIC_FILES: "true"
  RAILS_LOG_TO_STDOUT: "true"