<div class="field">
  <%= f.input :address %>
</div>

<div class="field">
  <%= f.input :quantity, input_html: { min: 1, value: f.object.quantity || 1 } %>
</div>

<div class="field">
  <%= f.select(:payment_type, Lead.payment_types.keys.map {|pt| [pt.titleize, pt]}) %>
</div>