<div class="form-group">

  <div class="field">
    <input type="text" class="form-control " id="email" placeholder="Full name" name="text">
  </div>

</div>

<div class="form-group">
  
  <div class="field">
    <input type="number" class="form-control form-style" id="num" placeholder="Contact No." name="num">
  </div>

</div>

<div class="form-group">
    
  <div class="field">
    <input type="email" class="form-control" id="email" placeholder="Email Address" name="email">
  </div>

</div>

 <div class="parent">
    <div class="left">

      <img src="/assets/tree-medium.png" class="img-full-width alt=""  height="120" />
           <p><strong>Neem Tree</strong><br>
          Age: 4 months<br>
        Price: 500 Rs.</p>

    </div>

   
    <div class="center">
        <img src="/assets/tree-medium.png" class="img-full-width alt=""  height="130" />
           <p><strong>Neem Tree</strong><br>
          Age: 4 months<br>
        Price: 500 Rs.</p>
    </div>
    <div class="right">
        <img src="/assets/tree-medium.png" class="img-full-width alt=""  height="136" />
           <p><strong>Neem Tree</strong><br>
          Age: 4 months<br>
        Price: 500 Rs.</p>
    </div>
    <div style="clear:both;"></div>
</div>


<div class= "row">
   
   <div class="col-sm-6">
   <div class="input-group ">
    
      <input type="text" class="form-control" placeholder="Coupon code">
        <div class="span">
      <span class="input-group-btn">
        <button class="btn  btn-info s" type="button" >Apply</button>
      </span></div>
      </div>
    
   
   </div>

