<div class="form-group">
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-success active">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> Desired Location
    </label>
    <label class="btn btn-success">
      <input type="radio" name="options" id="option2" autocomplete="off"> Haryali Location
    </label>
  </div>
</div>
<div class="form-group">
  <input type="text" class="form-control form-width" id="address" placeholder="Address">
</div>
<div class="form-group row">
  <label for="quantity">Quantity:</label> 
  <input type="number" value="0" id="quantity">
  / <span class="pull-right" id="sum">RS. 0.0</span>
</div>

<br>
<h3 class="font-weight-bold">Payment Method</h3>
<hr>
<div class="form-group">
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-success active">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> Cash on Delivery
    </label>
    <label class="btn btn-success">
      <input type="radio" name="options" id="option2" autocomplete="off"> Direct Wire Transfer
    </label>
  </div>
</div>