.yaad {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/bg1-0e4a2c9bea1b47cf839b321ad3db20f8159515a938b528e9e3d74462814068cf.jpg);
    background-attachment: scroll;
    padding-bottom: 120px;
    margin-bottom: -80px;
    margin-left: -19%;
    margin-right: -9.5%;
    background-position: center center;
    width: 128.1.2% !important;
}

.banner {
    font-size: 16px;
    background-color: rgba(255,255,255,0.8);
    position: relative;
    text-align: center;
    margin-top: -100px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: -56%;
    padding-left: 42%;
    overflow-x: hidden;
    width: 156.1%;
    overflow-y: hidden;
}

.banner-text h2 {
  font-size: 40px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  top: 5px;
  min-width: 100%;
  max-width: 100%;
  width: inherit;
  color: #77a43e;
  font-weight: bold;
}

.haryali-text {
    color: #77a43e;
    font-weight: bold;
    width: 100%;
    margin-left: 9%;
    font-size: 35px;
}

.haryali-p {
    font-size: 15px;
    color: #000000;
    text-align: center;
    width: 550px;
    margin-left: 42%;
}

.price-text {
  color: 242328;
  width: 5%;
}

.btn-yaad {
    background: gray ;
    color: #f1f1f1;
    margin-bottom: 0;
    margin-left: 18%;
}

/*Form */

.yaad-form form {
  background: #faf5f3;
  width: 24%;
  margin-top: 15%;
  margin-bottom: 50px;
  position: relative;
  z-index: 10;
  padding: 10% 2% 4% 2%;
  left: 15%;
  line-height:0px;
  margin-left: 0px;
  opacity: 0.85;
  line-height: 0px;
  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    color: #2f1f1e;
    letter-spacing: 0.061em;
    margin-top: -5%;
    margin-bottom: 5%;
    width: 100%;
    &.success {
      color: #356e64;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }
  }
  p.success-dialog {
    margin-top: -150px;
    color: #356e64;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.8em;
    text-transform: uppercase;
    a {
      color: #9d775f;
      text-decoration: none;
      transition: 0.8s all ease;
      &:hover {
        color: #c08159;
        transition: 0.4s all ease;
      }
    }
  }
  input {
    width: 100%;
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: none;
    appearance: none;
    border: 1px solid #77a43e;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 11px;
    position: relative;
    z-index: 500;
    letter-spacing: 0.06em;
    &:focus {
      border: 1px solid #77a43e;
      outline: none;
      appearance: none;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
  }
  .submit {
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    z-index: 200;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    background: #87ba45;
    color: #fff;
    width: 101%;
    transition: 0.8s all ease;
    &:hover {
      background: green;
      transform: translateY(1px);
      transition: 0.4s all ease;
    }
  }
}

#firstname {
  margin-top: 20px;
}

.circle {
  padding: 15px;
  height: 55px;
  width: 55px;
  margin-top: -35%;
  margin-left: 41%;
  margin-bottom: 13%;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  clear: both;
  opacity: 0.8;
}

.circle-quill {
  border: 1px solid #77a43e;
  background: #fff;
}

.circle-paper {
  border: 1px solid #9ac0ba;
  background: #5d978e;
  padding-left: 12px;
}

.submit-under, .loader, .loader2, .circle-paper, p.success-dialog, h2.success {
  visibility: hidden;
}

.submit-under {
  background: #8c6e7a;
  width: 291px;
  height: 45px;
  margin-top: -40px;
  margin-left: -4px;
  position: absolute;
  z-index: -1;
}

.loader, .loader2 {
  position: absolute;
  z-index: -5;
  margin-top: -45px;
  margin-left: 114px;
}

.name-plaque {
  float: right;
  margin-top: -22.7%;
  padding-left: 52%;
  width: 100%;
}

.name-text {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    color: #2b1503;
    margin-top: -2%;
}

#textarea_feedback {
  color: #77a43e;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  display: none;
}

.section {
  margin-left: 0px;
  margin-right: 0px;
}

/* Form end */

@media (max-width: 600px) and (min-width: 400px) {
  body {
    background-size: 100% 100%;
  }
  .haryali-text {
    font-size: 28px;
    text-align: center;
  }
  .haryali-p {
    font-size: 18px;
    text-align: center;
    padding-left: 30px;
  }
}

@media (max-width: 800px) and (min-width: 610px) {
  body {
    background-size: 100% 100%;
  }
  .haryali-text {
    font-size: 30px;
    text-align: center;
  }
  .haryali-p {
    font-size: 20px;
    text-align: center;
  }
}

/*Form End*/

/* Name Plaque */

#name_plaque {
  color: #2f1902;
  font-family: "Latin Modern Mono";
}

@font-face {
  font-family: "Latin Modern Mono";
  src: url(/assets/fonts/lmmono10-regular.otf) format("truetype");
}


@media screen and (max-width: 520px) and (min-width: 320px) {
  body {
    background-size: 100% 100%;
  }
  .banner {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    text-align: center;
    margin-top: -100px;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-left: -63%;
    margin-right: -47%;
    padding-left: 78%;
  }
  .yaad-form form {
    background: #faf5f3;
    width: 65%;
    margin-top: 12%;
    margin-bottom: 50px;
    position: relative;
    z-index: 10;
    padding: 27% 5% 10% 5%;
    left: 17%;
    opacity: 0.85;
  }
  .haryali-text {
    font-size: 32px !important;
    margin-left: -8% !important;
  }
 .haryali-p {
    font-size: 12px;
    color: #000000;
    text-align: center;
    margin-left: -6%;
    padding: 5px;
    width: 322px;
}
  .btn-yaad {
    background: gray;
    color: #f1f1f1;
    margin-bottom: 0;
    margin-left: -12%;
  }
  #header {
    height: 96px;
  }
}