// Place all the styles related to the leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width :520px) {

.form-side {
  max-width: 100%;
  margin:none;
  width:75%;
}


.h1-green{
text-align:center ;
margin: 0%;
padding: 0%
}

.h1 {
  margin:0%;
  }
.form-control{
  height: 0%;
  }

.pull-right {
  float: none;
  }

.form-control{
  width: auto;
  margin: 0%;
}

._center{
  margin:0%;
}

}


.form-control {
  max-width: 100%;
}

.parent {
  display: block;
margin: 0px;
padding: 0px;
position: relative;
top: 90px;
height: auto;
max-width: auto;
overflow-y: hidden;
overflow-x:auto;

}
label[for=lead_plant_id_10] {
  text-align:center;
  margin-left:-13%;
  padding-bottom:10%;
}


label[for=lead_plant_id_11] {
  float: left;
  margin-left:36%;
  margin-top: -54%;
}

label[for=lead_plant_id_12] {
  float: left;
  margin-left:70%;
  margin-top: -54%;
  height:100%;
  width: 70%;
-webkit-align-self: center; 
    align-self: center;
}
.color {
  background-color: #8ac53a;
}

.side {
  margin-top: -12.5%;
  margin-right: 5%
}
.progress-text {
  float: left;
  margin-top:-6%;
  margin-left:40%;
}
.bar-size {
  width: 100.5%;
  margin-left: -1%;
}

.has-error .help-block{
  color: red;
  text-decoration: italic;
} 
.btn-position-plant {
  margin-right:2%;
}
.color-active {
  background-color: #60CD71    ;  
}
.table.table-striped {
  width:60%;
  margin-left: 10%;
}
._active {
  background-color: #E5E9E6  ;
  border-color: #B3F1BC  ;
  border-style: solid;
}

.total_price {
  float: left;
  margin-left: 60%;
  margin-top: -12%;
}
.form-quantity {
  margin-left: 16%;
  width:100%;
}
.location_section {
  width:105%;
  margin-left: 15%;
}



.list-group {
  width: 62%;
}
.form-horizontal{
  width:65%;
}

h3 {
  margin-left: 27%;
}
.radio-inline {
  width: 3%;
  align-content: center;
}
.radio_buttons {
  margin-top:-1%;
}


.form-width {
  width: 50%;
}
.btn-group {
  cursor: hand;
}

.form-align {
 margin-left:36%;
}
.input-lg{
  width: 140%;
  margin-left:-2;
  
}
.note{
  margin-left: 10%;
  width: 100%;

}
.selected_tree {
  background-color: #E5E9E6  ;
  border-color: #B3F1BC  ;
  border-style: solid;
  width: auto;
}
.selected_location {
  background-color: #E5E9E6;
  border-color: #8ac53a;
  border-style: solid;
  border-width: 2px;
  height:140%;

}
.coupon-info {
 
  font-size:11px;
}
.btn-position-next {
  margin-top: -17.6%;
  margin-left:60%;
  max-width: 100%;
  background-color: #8ac53a;
  width: 30%;
  height:10%;



 
 }
.form-side {
  margin-left: 25%;
 

} 
.thankyou-form {
  width:80%;
  margin-left:5%;

}
.thankyoupage-align {
  margin-left:30%;
  width: 44%;
}

.mainselection select {
   border: 0;
   color: black;
   background: transparent;
   font-size: 15px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 200px;
   *background: #8ac53a;
   -webkit-appearance: none;
}
.mainselection {
   overflow:hidden;
   width:380px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   margin-left: 16%;
   background-color: #D8DFD9; 
   background: #D8DFD9   url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}
.t1{
  text-decoration: bold;
  margin-left:17%;
}
.t3{
  margin-left: 3%;
  font-size:15px;
  font-weight: 10%;
  color: black;
}


.table-align {
  margin-left:-30%;
  width:90%;
}

.img-responsive2{
 
  height: 108px;
  margin-right: 40%;
  padding-right: 5%;
  padding-right: 5%;

}
.img-responsive {
width: 10%;
 
}

.col-md-6.progress-bar {
  background-color: #8ac53a;

}

.detail_position {
  margin-right:-140%;
}
.h1-align {
  max-width:100%;
}
._center {
  width:120%;
  margin-left: 38%;
  padding-bottom:3%;
}

.color-active {
  background-color:#aed775;    ;  
       ;
}
.color-btn {
  background-color: #888C89 
}
.btn-position-back {
  margin-left: 46%;
}
 .table.table-striped {
   width:50%;
   margin-left:33%;

 }
 ._large {
   margin-right:10%;
}

.btn-gray {
  
 margin-left:36%;  
  background-color: #8ac53a;  
}
.location-heading {
   color: #8ac53a;
   max-width:100%;
   text-shadow: 2px 2px #D3D3D3;
   font-size: 40px;
   font-weight: lighter;
 }
 .trees-align{
  width: 90%;
  margin-left:5%;
 }
.map-align {
  margin-left:50%;
  margin-top:-20.7%;
}
.h1-green {
   color: #8ac53a;
 margin-left:36%;
 max-width:100%;
   text-shadow: 2px 2px #D3D3D3;
   font-weight: bold;
   font-size: 40px;
}
.error {
  color: red;
  font-size:12px;
 }

 .status {
  color: #8ac53a;
 }
a.disabled { 
  color:gray; 
}
.lnk_tree{
  width: 70
}
a.lnk_tree p{
  color: black;
}
.button-center {
margin-left: 45%;
background-color: #8ac53a;
}
.input-group-addon.verified {
  color: #8ac53a;
}
.input-group-addon.invalid {
  color: red;
}
.vertical-align {
  min-height: 100%;  
  min-height: 100vh; 
  display: flex;
  align-items: center;

}
.vertical-center{
  padding-left:30px;
   padding-right:30px;
   margin: 0 auto;
    max-width:100%;
    border: 1px solid #8ac53a;
    margin-top:5px;
    vertical-align:center;
}
.vertical-center:before {    
  content: " ";
  display: inline-block;
  vertical-align: middle;    
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  
}
 .row-centered{
  padding-right:50px;
  padding-left:20px;
 } 

 .bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #ADFF2F; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #8ac53a; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #8ac53a;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/
