// Place all the styles related to the leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parent {
  display: block;
margin: 0px;
padding: 0px;
position: relative;
top: 90px;
height: auto;
max-width: auto;
overflow-y: hidden;
overflow-x:auto;

}
label[for=lead_plant_id_10] {
  text-align:center;
  margin-left:-13%;
  padding-bottom:10%;
}


.form-control {
  width: 120%;

}

.color {
  background-color: #8ac53a;
}

.row {
  width: 90%;
}

.right {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  
} 
.side {
  margin-top: -12.5%;
  margin-right: 5%

}
.bar-size {
  width: 50%;
  margin-left: 11%;
}
 
.has-error .help-block{
  color: red;
  text-decoration: italic;
} 

.color-active {
  background-color: #60CD71    ;  
}
.table.table-striped {
  width:60%;
  margin-left: 10%;
}
.selected_tree {
  background-color: #E5E9E6  ;
  border-color: #B3F1BC  ;
  border-style: solid;
}
.simple_form {
  margin-left:-3%;
}
._small {
  margin-left:-4%;
}
._medium {

}
._large {
  margin-right:10%;
} 
.total_price {
  float: left;
  margin-left: 70%;
  margin-top: -13%;
}
.form-quantity {
  margin-left: 16%;
}
.location_section {
  
  width:130%;
   margin-left: 15%;
}

.btn-group {
  width:100%;
  margin-left:15%;
}
.caption-3 {
  float: left;
  margin-right: 2%;
}

.caption-2 {
  float: left;
  margin-right: 2%;
  margin-top: -5%;
}

.parent {
    margin-bottom: 10px;
    padding: 2px;
    color: #0A416B;
   
}
.left, .center, .right{
    float:left;
    width:28%;
    padding:5px;
-
}
.img-tree {
  height:10%;
  width: 35%;

}
.form-horizontal{
  width:70%;
}
h1 {
  color: #8ac53a;
  margin-left:25%;
  text-shadow: 2px 2px #D3D3D3;
  font-weight: bold;
}
h3 {
  margin-left: 27%;
}
.radio-inline {
  width: 3%;
  align-content: center;
}
.radio_buttons {
  margin-top:-1%;
}

.form-drop {
 margin-left: 30%;
 
}-
.form-width {
  width: 67%;
}

.row {
 margin-left: 10%;
}
.input-lg{
  width: 150%;
  margin-left:-25%;
}
.mainselection select {
   border: 0;
   color: black;
   background: transparent;
   font-size: 15px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 200px;
   *background: #8ac53a;
   -webkit-appearance: none;
}
.mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   margin-left: 16%;
   background-color: #D8DFD9; 
   background: #D8DFD9   url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}
.t1{
  text-decoration: bold;
  margin-left:17%;
}
.t3{
  margin-left: 3%;
  font-size:15px;
  font-weight: 10%;
  color: black;
}
.col-sm-6 {
  width: 80%;
  background-color: #f5f5f5;
  margin-left: 10%;
  height: 70%;
}
.col-sm-6 p{
  margin-left: 20%;
  color: gray;
  text-align: left;
}
.col-sm-6 strong {
  padding-right:20%;
}

.img-responsive2{
  width: 130%;
  margin-right: 40%;
  padding-right: 5%;
  padding-right: 5%;
}
.img-responsive {
width: 10%;
 
}
.col-sm-4 {
 padding-right: 2%;
  padding-right: 2%; 

}
.col-sm-4 p{
  text-align: center;
  padding-right: 8%;
  padding-right: 8%;
}

._center {
  width:120%;
  margin-left: 38%;
  padding-bottom:3%;
}
.container {
  width: 65%;
  margin-left: 15%;
}
.color-active {
  background-color: #60CD71    ;  
  background-color: #BCC2BD      ;
}
.color-btn {
  background-color: #888C89 
}
 .table.table-striped {
   width:120%;
   margin-left:-1%;

 }
 ._large {
   margin-right:10%;
}

.btn-gray {
  background-color: #939994  ;  
}
.h1-green {
   color: #8ac53a;
 margin-left:29%;
  margin-left:26%;
   text-shadow: 2px 2px #D3D3D3;
   font-weight: bold;
 }
 .btn-position {
  margin-right:-15%;
 }
 .btn-position-next {
  margin-top: -17%;
  margin-right:-17%;
 }
.lnk_tree a{
  height:80%;
 }
 