// Place all the styles related to the leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Smartphones (portrait and landscape) ----------- */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
@media only screen and (min-device-width : 320px) and (max-device-width :520px) {

.form-side {
  max-width: 100%;
  margin:0px auto!important;
  width:80%;
}
.vertical-center {
    padding-left: 20px;
    padding-right: 20px;
    
  }
.section {
    padding: 40px 0;
}
.h1-green{
text-align:center ;
margin: 0%;
padding: 0%
}

.h1 {
  margin:0%;
  }

._center{
  margin:0%;
}

}

.parent {
  display: block;
margin: 0px;
padding: 0px;
position: relative;
top: 90px;
height: auto;
max-width: auto;
overflow-y: hidden;
overflow-x:auto;

}

.color {
  background-color: #8ac53a;
}

.side {
  margin-top: -12.5%;
  margin-right: 5%
}
.progress-text {
  float: left;
  margin-top:-6%;
  margin-left:40%;
}
.bar-size {
  width: 100.5%;
  margin-left: -1%;
}

.has-error .help-block{
  color: red;
  text-decoration: italic;
} 
.btn-position-plant {
 
  width: 40%;
  margin-right: 2%;
}
.color-active {
  background-color: #60CD71;

}

.table.table-striped {
  width:60%;
  margin-left: 10%;
}
._active {
  background-color: #E5E9E6  ;
  border-color: #B3F1BC  ;
  border-style: solid;
}
.in-memory-donation{
  background-color: #f1f1f1;
}
.div-donation{
  border: 1px solid #e8e8e8; 
  margin: 15px 0 0; 
  padding:20px; 
  border-radius: 5px;
  margin-bottom:5%;
  display: block;
  }
.total_price {
  float: left;
  margin-left: 60%;
  margin-top: -9%;
  font-size:25px;

}
.form-quantity {
  margin-left: 16%;
  width:100%;
  margin-bottom:10%;
}
.location_section {
  width:105%;
  margin-left: 15%;
}
/*.btn {
  width:100%;
}
*/

.list-group {
  width: 62%;
}
.form-horizontal{
  width:65%;
}

h3 {
  margin-left: 27%;
}
/*.radio-inline {
  width: 3%;
  align-content: center;
}
.radio_buttons {
  margin-top:-1%;
}
*/

.form-width {
  width: 50%;
}

.input-lg{
  width: 100%;
  margin-left:-2.5%;
  
}
.note{
  margin-left: 10%;
  width: 100%;

}
.selected_tree {
  background-color: #E5E9E6  ;
  border-color: #B3F1BC  ;
  border-style: solid;
  width: auto;
}
.selected_location {
  background-color: #E5E9E6;
  border-color: #8ac53a;
  border-style: solid;
  border-width: 2px;
  height:140%;

}
.coupon-info {
  font-size:11px;
  width:100%;
  margin-bottom:40px;
}
.btn-position-next {
  //margin-top: -17.6%;
  margin-left:30%;
  max-width: 100%;
  background-color: #8ac53a;
  width: 40%;
  height:10%;
}
/*.btn-position-next {
  //margin-top: -17.6%;
  margin-right:35%;
  max-width: 100%;
  background-color: #8ac53a;
  
} */
.form-side {
  margin-left: 25%;
  margin-top: -5%;
} 
.thankyou-form {
  width:80%;
  margin-left:5%;
}
.thankyoupage-align {
  margin-left:30%;
  width: 44%;
}
.mainselection select {
   border: 0;
   color: black;
   background: transparent;
   font-size: 15px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 200px;
   *background: #8ac53a;
   -webkit-appearance: none;
}
.mainselection {
   overflow:hidden;
   width:380px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   margin-left: 16%;
   background-color: #D8DFD9; 
   background: #D8DFD9   url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}
.t1{
  text-decoration: bold;
  margin-left:17%;
}
.t3{
  margin-left: 3%;
  font-size:15px;
  font-weight: 10%;
  color: black;
}


.table-align {
  margin-left:-30%;
  width:90%;
}

.img-responsive2{
 
  height: 108px;
  margin: 0 auto;

}
.img-responsive {
width: 10%;
 
}

.col-md-6.progress-bar {
  background-color: #8ac53a;

}

.detail_position {
  margin-right:-140%;
}
.h1-align {
  max-width:100%;
}
._center {
  width:120%;
  margin-left: 38%;
  padding-bottom:3%;
}

.color-active {
  background-color:#aed775;    ;  
       ;
}
.color-btn {
  background-color: #888C89; 
}

.btn-position-back {
 
  width: 30%;
  margin-left:3.5%;
}
 .table.table-striped {
   width:50%;
   margin-left:33%;

 }
 ._large {
   margin-right:10%;
}

.btn-gray {
background-color: #8ac53a; 

}
.location-heading {
   color: #8ac53a;
   max-width:100%;
   text-shadow: 2px 2px #D3D3D3;
   font-size: 40px;
   font-weight: lighter;
 }
 .trees-align{
  width: 90%;
  margin-left:5%;
 }
.map-align {
  margin-left:50%;
  margin-top:-20.7%;
}
.h1-green {
   color: #8ac53a;
 margin-left:36%;
 max-width:100%;
   text-shadow: 2px 2px #D3D3D3;
   font-weight: bold;
   font-size: 40px;
}
.error {
  color: red;
  font-size:12px;
 }

 .status {
  color: #8ac53a;
 }
a.disabled { 
  color:gray; 
}
.lnk_tree{
  width: 70
}
.lnk_tree img{
  margin: 0 auto;
  display: block;
}
a.lnk_tree p{
  color: black;
}
.button-center {
margin-left: 45%;
background-color: #8ac53a;
}
.input-group-addon.verified {
  color: #8ac53a;
}
.input-group-addon.invalid {
  color: red;
}
.location-selection {
  padding-left:30px;
   padding-right:30px;
   margin: 0 auto;
    max-width:100%;
    border: 1px solid #8ac53a;
    padding-top: 60px;
    vertical-align:center;
}

.vertical-align {
  min-height: 100%;  
  min-height: 100vh; 
  display: flex;
  align-items: center;

}
.vertical-center{
  padding-left:30px;
   padding-right:30px;
   margin: 0 auto;
    max-width:100%;
    border: 1px solid #8ac53a;
    padding-top: 0px;
    vertical-align:center;

}
.vertical-center:before {    
  content: " ";
  display: inline-block;
  vertical-align: middle;    
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;  
}
 .row-centered{
  padding-right:50px;
  padding-left:20px;
 } 


.form-position {
  margin-left: -0.5%;
  width:100%;
}

.tree-selection{
  padding-left:5px;
  padding-right: 5px;
  vertical-align: middle;

}
.tree-selection p{
  padding-left:20px;
  padding-right: 20px;
  text-align: center;
}


.progress-bar {
    background-color: #8ac53a ;
  
}
.progress-bar.progress-bar-striped.progress-bar-animated {height: 60px; } // we increased it so the text is visible or change font size

.progress {
  width:54%;
  border: 1px solid #8ac53a;
}
.progress-bar span {
   position: relative;
    top: 0;
    z-index: 2;
    //color: black; // You might need to change it
    text-align: center;
   
  text-align:center;
  width:100%;
}


.wrapper {
  width: 100px;
  border: 0px solid #ccc;
  margin: 0px auto;
  padding: 30px;
}
.progress-top {
  border: 1px solid gray;
  margin-left:46%;
  text-align: center;
  width: 8%;
  font-weight:bold;

}
.align-right{
  
   
    position: relative;
    width:40%;
    border: 1px solid #8ac53a;
    padding-left:10px;
    padding-right:10px;
}
.plant-info {
 
  width:30%;
    
    padding-left:10px;
    padding-right:10px;
    margin-top: -1.4%;
    margin-right:-58%;
    font-size: 12px;
}
.content-1 {
 width:30%;
   
    padding-left:10px;
    padding-right:10px;
    margin-top: 50%;
    margin-right:-58%;
    font-size: 12px;
}