/* my plants */

.my-plants-body {
  background-image: image-url("bg-plants.jpg");
  margin: 0;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: fill;
  background-attachment: fixed;
}

.banner-plants {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 28px 810px 30px 66px;
  min-width: 91%;
  max-width: 100%;
  width: 49%;
  /*height: 104%;*/
  margin-top: 0%;
  margin-left: 4%;
  margin-right: 12%;
  margin-bottom: 1%;
}

.my-plants-text {
    color: #0e0e0e;
    font-weight: bold;
    width: 735%;
    vertical-align: middle;
    text-align: center;
    font-size: 35;
}

.my-plants-p {
  font-size: 18px;
  color: #000000;
  text-align: center;
  width: 650px;
  margin-left: 116px;
}

.my-plants-btn {
    margin-left: 278%;
    width: 208px;
    font-size: 18px;
    height: 48px;
}

.plants-btn-color {
  background-color: #97bc2e;
  color: #fff;
}

.more-detais-btn {
    height: 44px;
    width: 171px;
    margin-left: 26%;
    text-align: center;
    margin-top: -9%;
    padding-top: 11.7px;
}

.my-plants {
  margin: 0 auto;
  background-color: #fff;
  color: #000;
  padding-left: 5%;
  padding-right: 5%;
  width: 873px;
  /*height: 35%;*/
  /*padding-top: 50%;*/
  /*margin-top: 19%;*/
  height: 35%;
  padding-top: 23%;
  margin-top: 12%;
}

.img-plant img {
  width: 172px;
  height: 172px;
  padding: 0px 0px 0px 5px;
  margin-left: 2%;
}

.my-plant-info {
  float: left;
  margin-left: 26%;
  width: 100%;
  margin-top: -150px;
}

.in-memory-head {
  padding-bottom: 5px;
}

.price-plant {
  height: 103px;
  width: 116px;
  border: 1px solid #616161;
  float: right;
  margin-top: -140px;
  margin-right: 21px;
  h3 {
    width: 77px;
    margin-top: -18px;
    margin-left: 17px;
    background: white;
    color: #98bd31;
    border: solid 4px #98bd31;
    padding: 3;
    text-align: center;
    font-size: 18px;
  }
  p {
    margin: 0 auto;
    padding-left: 8px;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    padding-top: 22px;
    color: #63655a;
    text-align: center;
  }
}

.location-plant {
  height: 103px;
  width: 116px;
  border: 1px solid #616161;
  margin-top: -140px;
  float: right;
  margin-right: 152px;
  p {
    margin: 0 auto;
    padding-left: 2px;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    padding-top: 5px;
    color: #63655a;
    text-align: center;
  }
}

.created-on p {
  margin-left: -49%;
  margin-top: -57px;
  padding-right: 20px;
  text-align: right;
}

.div-header {
  float: right;
  padding: 0;
  margin-top: -3%;
  margin-right: 2%;
}

.my-plant-info table {
  margin-top: -3%;
}
.location-plant img {
    max-height: 400px;
    float: right;
    margin-right: 29%;
    margin-top: -24%;
    width: 43px;
}
.location-btn {
  margin-top: 12%; 
  margin-left: 33%;
}



@media (max-width: 600px) and (min-width: 320px) {
.banner-plants {
    font-size: 16px;
    background-color: rgba(255,255,255,0.7);
    padding: 23px 0px 7px 0px;
    min-width: 103%;
    max-width: 100%;
    height: 105%;
    margin-top: 0%;
    margin-left: -1%;
    margin-right: 12%;
    margin-bottom: 1%;
}
.location-plant {
    height: 84px;
    width: 94px;
    border: 1px solid #616161;
    margin-top: 33px;
    float: right;
    margin-right: 120px;
}
.my-plants-text {
    color: #0e0e0e;
    font-weight: bold;
    width: 73%;
    vertical-align: middle;
    margin-left: 40px;
    text-align: center;
    font-size: 28px;
}
.my-plants-p {
    font-size: 15px;
    color: #000000;
    text-align: center;
    width: 294px;
    margin-left: 0%;
}
.my-plants-btn {
    margin-left: 27% !important;
    width: 130px;
    font-size: 12px;
    height: 37px;
    padding-left: 0px;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 2px;
}
.div-header {
    float: right;
    padding: 0;
    margin-top: -22%;
    margin-right: 7%;
    text-align: center;
}
.my-plant-info {
    float: left;
    margin-left: 12%;
    width: 100%;
    margin-top: 34px;
    font-size: 15px;
}
  .img-plant img {
    width: 198px;
    height: 221px;
    padding: 46px 3px 0px 13px;
    margin-left: 12%;
  }
.my-plants {
  background-color: #fff;
  color: #000;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  height: 75%;
  padding-top: 26%;
  margin-top: 17%;
  margin-left: 5%;
}
.more-detais-btn {
    height: 37px;
    width: 171px;
    margin-left: 17%;
    text-align: center;
    margin-top: 20%;
    padding-top: 2.7%;
}

.price-plant {
    height: 84px;
    width: 94px;
    border: 1px solid #616161;
    float: right;
    margin-top: -85px;
    margin-right: 15px;
}
.created-on p {
    margin-left: -49%;
    margin-top: -72px;
    padding-right: 20px;
    text-align: right;
}
.img-plant img {
    width: 198px;
    height: 221px;
    padding: 0px 0px 0px 0px;
    margin-left: 9%;
}
.location-plant img {
    width: 45px;
    height: 50px;
    margin-top: -30px;
    margin-left: 24px;
}
.price-plant h3 {
  width: 77px;
  margin-top: -18px;
  margin-left: 9px;
  background: white;
  color: #98bd31;
  border: solid 4px #98bd31;
  padding: 3;
  text-align: center;
  font-size: 18px;
}
.location-plant p {
    margin: 0 auto;
    padding-left: 2px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    padding-top: 5px;
    color: #63655a;
    text-align: center;
    line-height: 20px;
}
}